#body { 
    background-color: rgb(128, 128, 122);  
    width: 200px; 
    height: 200px; 
    border-radius: 50%;
}

.eyes {
    position: relative; 
    top: 30px; 
    display:flex; 
}

.eye { 
    background-color: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin: 25px; 
    position:relative; 
}

.pupil { 
    background-color: black;
    width: 30px;
    height: 30px; 
    border-radius: 50%;
    position:absolute; 
    top: 10px; 
    left: 10px; 
}

.ears { 
    position: relative;
}

.ear { 
    border-radius: 90% 0 90% 0;
    background-color: rgb(128, 128, 122);  
    height: 100px ;
    width: 100px; 
    position:absolute; 
}

.left_ear { 
    transform: scale(1, -1) rotate(0deg); 
    left: 0; 
}

.right_ear { 
    left: 100px; 
}